# HOW TO USE:
#
# 1 Add environment variables for the various stages here
# 2 Rename this file to env.yml and uncomment it's usage
#   in the serverless.yml.
# 3 Make sure to not commit this file.

dev:
  AUTH0_CLIENT_ID: {CLIENT_ID}
  AUTH0_DOMAIN: {DOMAIN}
  AUTH0_CLIENT_SECRET: {CLIENT_SECRET}
  AUTH0_CALLBACK_URL: {REDIRECT_URL}
  TABLE_NAME: {TABLE_NAME}
  
prod:
  AUTH0_CLIENT_ID: {CLIENT_ID}
  AUTH0_DOMAIN: {DOMAIN}
  AUTH0_CLIENT_SECRET: {CLIENT_SECRET}
  AUTH0_CALLBACK_URL: {REDIRECT_URL}
  TABLE_NAME: {TABLE_NAME}
